.App {
  margin: 10px;
}

/*form {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  width: 500px;*/
/*}*/
label, form > button {
  display: block;
  margin-bottom: 10px;
}

label {
  margin-right: 10px;
}
/*form > input, form > button {*/
/*  margin-bottom: 10px;*/
/*}*/

/*form > button {*/
/*  width: 200px;*/
/*}*/
